.div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link_reviews {
  padding-right: 30px;
  padding-left: 5px;
  margin: 0;
  color: rgb(195, 193, 181);
}
.location {
  margin: 0;
  color: rgb(195, 193, 181);
}
