.btnLoad:hover,
.btnLoad:focus {
  background-color: cadetblue;
}
.ul {
  list-style: none;
  width: auto;
  padding: 0 0;
}
.div {
  background-color: rgb(195, 193, 181, 0.5);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 64px;
}
