.vehicle-type {
  border-bottom: 1px solid gray;
  padding-bottom: 24px;
  margin-bottom: 24px;
  color: rgb(99, 89, 35);
}

.van-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  color: rgb(99, 89, 35);
}

.vans {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(99, 89, 35);
  border-radius: 10px;
  padding: 17px 40px;
  width: 90px;
  height: 80px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: rgb(99, 89, 35);
  /* cursor: pointer; */
  transition: border-color 0.3s;
}

.vans:hover {
  border: 1px solid #e44848;
}

.van-icon {
  width: 24px;
  height: 24px;
}

input[type="radio"] {
  display: none;
  cursor: pointer;
}

input[type="radio"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #e44848;
}

.label {
  cursor: pointer;
  padding: 20px 40px;
}
