.name_product {
  padding-right: 248px;
  font-weight: bold;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}
.price {
  font-weight: bold;
  padding-right: 10px;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
}
.div {
  display: flex;
  gap: 16px;
}

.description {
  color: #475467;
  margin: 24px 0 24px;
}
.icon_close {
  stroke: black;
}
.btn {
  border: none;
  background-color: transparent;
}
.div_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}
