.name_product {
  padding-right: 248px;
  font-weight: bold;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}
.price {
  font-weight: bold;
  padding-right: 10px;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
}
.div {
  display: flex;
  gap: 16px;
}

.description {
  color: #475467;
  margin: 24px 0 24px;
}
.icon_close {
  stroke: black;
}
.btn {
  border: none;
  background-color: transparent;
}
.div_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.btn_feature {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  background-color: transparent;
  position: relative;
}
.div_btn {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  background-color: transparent;
}

.div_btn_feature {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
  gap: 40px;
  border-bottom: 2px solid rgb(235, 237, 237);
}
.link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
}
.active {
}
.active::after {
  text-decoration: underline;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  height: 4px;
  background-color: #e44848;
  z-index: -1;
}
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
} */
.link-block {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
  gap: 40px;
  border-bottom: 2px solid rgb(235, 237, 237);
}
