.div {
  display: flex;
  width: 526px;
  height: 96px;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 44px;
  margin-bottom: 44px;
}

.main {
  display: flex;
  flex-direction: row;
}
.wrap {
  display: flex;
  flex-direction: column;
}
