.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}
.name_product {
  font-weight: bold;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: rgb(99, 89, 35);
}
.price {
  font-weight: bold;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgb(99, 89, 35);
}
.btn {
  background-color: transparent;
  color: black;
  transition: color 0.3s ease;
  padding: 0;
  margin-left: 10px;
}

.btn:hover,
.btn:focus {
  color: red;
}

.icon_heart:hover,
.icon_heart:focus {
  fill: red;
}
.icon {
  font-size: 20px;
}
.div_price {
  display: flex;
}
