.li {
  display: flex;
  margin-bottom: 32px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px 24px;
}
.div {
  display: flex;
}
.name {
  display: flex;
  gap: 248px;
  white-space: nowrap;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #475467;
  margin: 24px 0 24px;
}

.btn {
  width: 166px;
  height: 56px;
  background-color: #e44848;
  color: white;
  white-space: nowrap;
  border-radius: 30px;
}
.img {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}
.container {
  padding-left: 24px;
}
.btnContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 24px;
}

.btnLoad {
  width: 145px;
  height: 56px;
  background-color: rgb(195, 193, 181);
  color: rgb(99, 89, 35);
  white-space: nowrap;
  border-radius: 30px;
  border: none;
}
.btnLoad:hover,
.btnLoad:focus {
  background-color: cadetblue;
}
.div_carCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}
.div_carCard:last-child {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.list {
  margin: 0 auto;
  width: 890px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
